* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

.heading {
  display: flex;
  gap: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 75vh;
  width: 50vw;
  margin-top: 20px;
  border: 20px solid red;
  border-bottom: 40px solid red;
  border-radius: 5px;
}

.grid {
  border: 1px solid pink;
}


.active {
  background-color: black;
}
